.content
	%div List of all articles
	-if @articles.empty?
		%div nothing here yet
	- @articles.each do |article|
		.article
			%h3=link_to(article.title, web_article_path(article.id))
			%div= link_to(article.content, web_article_path(article.id))
		%hr
